.header {
  border-bottom: #29487D;
  height: 30px;
  line-height: 30px;
  background-color: #4267B2;
  padding: 5px 20px;
  text-align: center;
}

.link {
  margin: 0 10px;
  border: 1px solid lightblue;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.link:hover {
  background-color: lightblue;
}
